/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;     
  }
*, *::before, **::after{
    box-sizing: inherit;
}
img{
    max-width: 100%;
}
body{
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
}
.wrapper-full{
    max-width: 1000px;
    margin: 0 auto;
}
.section__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section__title::after{
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    padding-bottom: 40px;
    z-index: 999;
}
.header_active{
    background-color: #0E1D28;
    opacity: .3;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link{
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}
.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 75%;
}
.intro{
    min-height: 100vh;
    background: url(../img/Hero.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}
.intro__title{
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}
.intro__subtitle{
    font-size: 16px;
    line-height: 24px;
    color: white;
    max-width: 546px;
    margin-bottom: 59px;
}
.search-form__info{
    display: flex;
    flex-wrap: wrap;
}
.search-form__field{
    width: 297px;
    background-color: transparent;
    background: url(../img/svg/Oval.svg)no-repeat left 7px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.search-form__field::placeholder{
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.search-form__submit{
    color: white;
    padding: 15px 39px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background-color: #1B7DFF;
    border: 0;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active{
    background-color: #093978;
}
.benefits{
    margin-bottom: 131px;
}
.benefits__wrap{
    max-width: 1000px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits__title{
    width: 80%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}
.benefits__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits__card-pic{
    max-width: 66px;
    margin-bottom: 37px;
}
.benefits__card{
    grid-column: span 1;
}
.benefits__card-icon{
    display: block;
}
.benefits__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.benefits__card-desc{ 
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 39px;
}
.benefits__card-more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat 95% center;
    transition: .2s all;
    margin-bottom: 112px;
}
.benefits__card-more:hover, .benefits__card-more:focus{
    background: url(../img/svg/Shape.svg) no-repeat right center;
}
.places__caption{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}
.places__title{
    margin-right: 15px;
}
.places__view-all{
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/Shape.svg) no-repeat 95% center;
    transition: .2s all;
}
.places__view-all:hover, .places__view-all:focus{
    background: url(../img/svg/Shape.svg) no-repeat right center;
}
.places__cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    -webkit-box-shadow: 3px -1px 28px 11px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px -1px 28px 11px rgba(34, 60, 80, 0.2);
    box-shadow: 3px -1px 28px 11px rgba(34, 60, 80, 0.2);
}
.places__card-lg{
    grid-column: span 3;
}
.places{
    margin-bottom: 131px;
}
.places__card-sm{
    grid-column: span 2;
}
.places__card-pic{
    width: 100%;
    transition: .15s;
}
.places__card{
    position: relative;
    overflow: hidden;
}
.places__card:hover .places__card-pic{
    transform: scale(1.05);
}
.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    z-index: 2;
}
.places__card-title{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places__card-link{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}
.places__card-pic-lg{
   height: 354px;
   object-fit: cover;
}
.places__card-pic-sm{
    height: 283px;
    object-fit: cover;
 }
.tours{
    margin-bottom: 100px;
}
.tours__tour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 90px;
    align-items: center;
    margin-bottom: 77px;
}
.tour__title{
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}
.tour__desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.tour__more{
    display: inline-block;
    padding-right: 59px;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    text-decoration: none;
    background: url(../img/svg/Shape.svg) no-repeat 95% center;
    transition: .2s all;
  ;
}
.tour__more:hover, .benefits__card-more:focus{
    background: url(../img/svg/Shape.svg) no-repeat right center;
}
.tour__info{
    padding-top: 30px;
}
.top{
    margin-bottom:86px;
}
.top__title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 55px;
}
.top__card-stats{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 83%;
    background-color: rgba(21, 24, 36, 0.6);;
    padding: 16px 25px;
    justify-content: flex-end;
}
.top__card-pic{
    position: relative;
    margin-bottom: 35px;
}
.top__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}
.top__card-title{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
    margin: 0 auto 0 0;
}
.top__card-likes-value{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 15px;
    background: url(../img/svg/love.svg) no-repeat right;
    background-size: 13px;
    margin-right: 15px;
}
.top__card-com-value{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-right: 20px;
    background: url(../img/svg/comment.svg) no-repeat right;
    background-size: 13px;
}
.top__card-desc{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}
.top__card-more{
    text-decoration: none;
    color: white;
    padding: 12px 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    background-color: #1B7DFF;
    border: 0;
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
    background-color: #093978;
}
.video{
    width: 100%;
}
.videos__wrapper{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}
.video__item{
    padding-top: 56.25%;
}
.video__element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer{
    background: #0E1D28;
    padding: 80px 0;
}
.footer_menu-title{
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}
.footer_menu-link{
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 24px;
}
.footer_item{
    display: flex;
    flex-wrap: wrap;
}
.footer_logo{
    width: 50%;
}
.footer_nav{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-between;
}
.footer_menu-link:hover, .footer_menu-link:focus, .footer_menu-link:active{
    opacity: .75;
}